<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Connecting...</title>

    <link rel="stylesheet" href="/static/css/application.css" />
</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            <br/>
            <div class="row no-border" id="grid">
                <div class="p-notification" id="grid">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Connecting...</span>
                        Device is now attempting to connect to <b>{{.Ssid}}</b>. <br/>
                        You may try to connect to the device through the new connection.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
