<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Select Wi-Fi</title>

    <link rel="stylesheet" href="/static/css/application.css" />
</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            <br/>
            <div class="row no-border" id="login">
                <fieldset>
                    <div class="p-form-validation" id="passphrasePage_form">
                        <label for="passphrasePage">Password:</label>
                        <input class="p-form-validation__input" type="password" id="passphrasePage"/>
                        <input type="checkbox" id="showpassphrasePage" onchange="show_passphrase('Page')"/>
                        <label for="showpassphrasePage">show passphrase</label>
                    </div>
                    <div class="p-notification--negative cheshire" id="passphrasePage_error">
                        <p class="p-notification__response">
                            <span class="p-notification__status">Error:</span> <text id="passphrasePage_error_msg"></text>
                        </p>
                    </div>
                    <button class="p-button--positive" onclick="authenticate()"/>Continue</button>
                </fieldset>
            </div>

            {{if eq .Page "ssids"}}
            <div class="row no-border" id="grid">
                <h2>Select Wi-Fi to connect to:</h2>
                <ul class="p-list--divided">
                {{range $i, $ssid := .Ssids}}
                <li class="p-list__item">
                    <label class="collapse" for="radio{{$i}}">{{$ssid}}</label>
                    <input id="radio{{$i}}" type="radio" name="c1">
                    <div>
                    <br/>
                    <fieldset>
                        <input type="hidden" id="ssid{{$i}}" value="{{$ssid}}"/>
                        <label for="passphrase">Enter passphrase:</label>
                        <input type="password" id="passphrase{{$i}}"/>
                        <input type="checkbox" id="showpassphrase{{$i}}" onchange="show_passphrase({{$i}})"/>
                        <label for="showpassphrase">show passphrase</label>
                        <br/>
                        <div id="alert{{$i}}" class="p-notification--caution cheshire">
                            <p class="p-notification__response">
                                <span class="p-notification__status">Warning:</span>
                                Continuing will disconnect you from the device by taking down its Wi-Fi network. 
                                This page will be unavailable. After continuing, you may connect to the device 
                                through its new Wi-Fi connection. Proceed?.
                            </p>
                        </div>
                        <button class="p-button--neutral" onclick="clear_row({{$i}})">Cancel</button>
                        <input type="button" class="p-button--positive" id="connect{{$i}}" value="Connect" onclick="do_connect({{$i}})"/>
                    </fieldset>
                    </div>
                </li>
                {{end}}

                </ul>

                <div class="p-notification--caution">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Warning:</span>
                        This takes down the device AP and disconnects you. Please reconnect in a minute or two
                    </p>
                    <br/>
                    <button class="p-button--neutral" onclick="do_refresh()">Refresh Wi-Fi Access Points</button>
                </div>
            </div>
        
            {{else if eq .Page "config"}}
            <div class="row no-border" id="grid">
                <h2>First configuration</h2>
               
                <fieldset>
                    <h4>Access Point</h4>
                    
                    <label for="ssid">SSID:</label>
                    <input type="text" id="ssid" required="required" value="{{.Config.Wifi.Ssid}}" placeholder="Enter SSID"/>
                    <div class="p-form-validation" id="passphrase_form">
                        <label for="passphrase">Passphrase:</label>
                        <input class="p-form-validation__input" type="password" id="passphrase" required="required" onblur="validate_password(this.id,'Passphrase',8,63)" value="{{.Config.Wifi.Passphrase}}" placeholder="Enter passphrase"/>
                        <label for="passphrase_confirm">Confirm passphrase:</label>
                        <input class="p-form-validation__input" type="password" id="passphrase_confirm" required="required" onblur="validate_password('passphrase','Passphrase',8,63)" placeholder="Confirm passphrase"/>
                    </div>
                    <div class="p-notification--negative cheshire" id="passphrase_error">
                        <p class="p-notification__response">
                            <span class="p-notification__status">Error:</span> <text id="passphrase_error_msg"></text>
                        </p>
                    </div>
                    <label for="interface">Interface:</label>
                    <input type="text" id="interface" required="required" value="{{.Config.Wifi.Interface}}" placeholder="Enter network interface"/>
                    <label for="country_code">Country Code:</label>
                    <select id="country_code">
                        [COUNTRY_CODE_OPTIONS]
                    </select>
                    <label for="channel">Channel:</label>
                    <select id="channel">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                    </select>
                    <label for="operation_mode">Operation mode:</label>
                    <select id="operation_mode">
                        <option value="a">IEEE 802.11a (5 GHz)</option>
                        <option value="b">IEEE 802.11b (2.4 GHz)</option>
                        <option value="g">IEEE 802.11g (2.4 GHz)</option>
                        <option value="ad">IEEE 802.11ad (60 GHz)</option>
                    </select>
                </fieldset>

                <br/>
                
                <fieldset>
                    <h4>Portal</h4>
                    <div class="p-form-validation" id="portal_pwd_form">
                        <label for="portal_pwd">Portal password:</label>
                        <input class="p-form-validation__input" type="password" id="portal_pwd" required="required" value="{{.Config.Portal.Password}}" onblur="validate_password(this.id,'Portal password',8)"/>
                        <label for="portal_pwd_confirm">Confirm portal password:</label>
                        <input class="p-form-validation__input" type="password" id="portal_pwd_confirm" required="required" onblur="validate_password('portal_pwd','Portal password',8)"/>
                    </div>
                    <div class="p-notification--negative cheshire" id="portal_pwd_error">
                        <p class="p-notification__response">
                            <span class="p-notification__status">Error:</span> <text id="portal_pwd_error_msg"></text>
                        </p>
                    </div>
                </fieldset>

                <br/>

                <div class="p-notification--caution">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Warning:</span>
                        This takes down the device AP and disconnects you. Please reconnect in a minute or two
                    </p>
                    <br/>
                    <button class="p-button--positive" onclick="saveConfig()">Apply configuration</button>
                </div>
                <div class="p-notification--negative cheshire" id="saveConfig_error">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Error:</span><text id="saveConfig_error_msg">Could not save configuration. Server error.</text>
                    </p>
                </div>
            </div>
            {{end}}

            <div class="row no-border">
                <div class="p-notification cheshire" id="refreshingAlert">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Refreshing Wi-Fi access points...</span>
                        You have been disconnected. The device is refreshing Wi-Fi access points. 
                        Please rejoin the device access point and reload this page in a minute or two.
                    </p>
                </div>
            </div>

            <div class="row no-border">
                <div class="p-notification cheshire" id="savingConfigAlert">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Saving configuration...</span>
                        You have been disconnected. The device is saving configuration. 
                        This takes down the device AP and disconnects you. Please reconnect in a minute or two
                    </p>
                </div>
            </div>

        </div>
    </div>

    <form id="wifi-form" action="connect" method="POST">
        <!-- hidden fields to be sent to service-->
        <input type="hidden" name="ssid"/>
        <input type="hidden" name="pwd"/>
    </form>

<script>
    $(document).ready(function() {
        $('#grid').css('display', 'none')
        $('#refreshingAlert').css('display', 'none')
        $('#savingConfigAlert').css('display', 'none')
        
        // enable submit password when enter is pressed for login div
        $('#passphrasePage').keydown(function(event) {
            if (event.keyCode == 13) {
                authenticate()
                return false;
            }
        });

        {{if eq .Page "config"}}
            // config specific initial values for combo boxes
            $('#channel').val('{{.Config.Wifi.Channel}}')
            $('#country_code').val('{{.Config.Wifi.CountryCode}}')
            $('#operation_mode').val('{{.Config.Wifi.OperationMode}}')
        {{end}}

        // country codes select must be sorted as originally it is, but by value, not by text
        sortCountryCodes();
	})
    function sortCountryCodes() {
        var cc_options = $("#country_code option");
        var selected = $("#country_code").val();

        cc_options.sort(function(a,b) {
            return a.text.localeCompare(b.text)
        })

        $("#country_code").empty().append(cc_options);
        $("#country_code").val(selected);
    }
	function showSsids() {
	    $('#login').css('display', 'none'); 
	    $('#grid').css('display', 'block');
	}
    function showRefreshingAlert() {
	    $('#grid').css('display', 'none');
        $('#refreshingAlert').css('display', 'block');
    }
	function authenticate() {
        $.ajax({
            type: "POST",
            url: "/hashit",
            data: {Hash: $('#passphrasePage').val()}
        }).done(function (hashRet) {
            console.log("in ajax done.", hashRet);
            hash = JSON.parse(hashRet);
            console.log(hash)
            if (hash.HashMatch) {
                showSsids();
            } else {
                $('#passphrasePage_form').addClass('is-error')
                $('#passphrasePage_error_msg').text('Your password does not match, please try again')
                $('#passphrasePage_error').css('display', 'block')
            }
        })
	}    
    function saveConfig() {
        if (!validate_password('passphrase', 'Passphrase', 8, 63)) {
            $('#saveConfig_error').css('display', 'block')
            $('#saveConfig_error_msg').text('Please, correct Wi-Fi passphrase error before applying configuration')
            return
        }
        if (!validate_password('portal_pwd', 'Portal password', 8)) {
            $('#saveConfig_error').css('display', 'block')
            $('#saveConfig_error_msg').text('Please, correct Portal password error before applying configuration')
            return
        }
        $.ajax({
            type: "POST",
            url: "/config",
            data: {
                Ssid: $('#ssid').val(),
                Passphrase: $('#passphrase').val(),
                Interface:$('#interface').val(),
                CountryCode: $('#country_code').val(),
                Channel: $('#channel').val(),
                OperationMode: $('#operation_mode').val(),
                PortalPassword: $('#portal_pwd').val()
            }
        }).done(function (response) {
            $('#grid').css('display', 'none');
            $('#saveConfig_error').css('display', 'none')
            $('#savingConfigAlert').css('display', 'block')
        }).fail(function(xhr, status, error) {
             $('#saveConfig_error').css('display', 'block')
            $('#saveConfig_error_msg').text(xhr.responseText)
        });
    }
    // function to confirm password, and confirmation are equals.
    // tag param is the name of primary input field for password.
    // title human readable name of the field validating here
    // n param is the min length to consider
    // m param is the max length allowed
    function validate_password(tag, title, n, m) {
        var pwd = document.getElementById(tag)
        var pwd_confirm = document.getElementById(tag + '_confirm')
        //validate length
        if (n !== undefined && pwd.value.length < n) {
            $('#' + tag + "_form").addClass('is-error')
            $('#' + tag + '_error_msg').text( title + ' is too short. Must have ' + n + ' characters at least')
            $('#' + tag + '_error').css('display', 'block')
            return false
        }
        if (m !== undefined && pwd.value.length > m) {
            $('#' + tag + "_form").addClass('is-error')
            $('#' + tag + '_error_msg').text( title + ' is too long. Must have ' + m + ' characters at most')
            $('#' + tag + '_error').css('display', 'block')
            return false
        }
        //validate confirm password field matches original
        if (pwd.value != pwd_confirm.value) {
            $('#' + tag + "_form").addClass('is-error')
            $('#' + tag + '_error_msg').text('Passwords don\'t match')
            $('#' + tag + '_error').css('display', 'block')
            return false
        } 
        // default
        $('#' + tag + "_form").removeClass('is-error')
        $('#' + tag + '_error').css('display', 'none')
        return true
    }
</script>


<script>
function clear_row(i) {
    pwdElement = document.getElementById('passphrase'+i)
    pwdElement.value='';
    pwdElement.type='password';
    document.getElementById('showpassphrase'+i).checked=false;
    document.getElementById('radio'+i).checked=false;
    document.getElementById('alert'+i).style.display='none';
    document.getElementById('connect'+i).value='Connect';
}

function show_passphrase(i) {
    var type = document.getElementById('showpassphrase'+i).checked ? 'text' : 'password' 
    document.getElementById('passphrase'+i).type = type
}

function do_connect(i) {
    // if connect button has "Connect" as label, show the alert previous to 
    // connecting. Connect if that alert is already visible
    var connectButton = document.getElementById('connect'+i)
    if (connectButton.value == "Connect") {
        document.getElementById('alert'+i).style.display='block';
        connectButton.value = 'Yes'
    } else {
        var ssid = document.getElementById('ssid'+i).value;
        var pwd = document.getElementById('passphrase'+i).value;
        if (ssid != '') {
            var form = document.getElementById("wifi-form");
            form.ssid.value = ssid
            form.pwd.value = pwd
            form.submit()
        } else {
            alert("No SSID provided to connect to")
        }
    }  
}

function do_refresh() {
    showRefreshingAlert()
    $.ajax({
        url: '/refresh'
    })
} 
</script>
</body>
</html>
