<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Select Wi-Fi</title>

    <link rel="stylesheet" href="/static/css/application.css" />
</head>

<body>
    <div class="wrapper">
        <div id="main-content" class="inner-wrapper">
            <div class="row no-border" id="login">
                <ul class="no-bullets">
                    <li><p>Password:</p></li>
                    <li><input type="password" id="passphrasePage"/></li>
                    <li>
                        <input type="checkbox" id="showpassphrasePage" onchange="show_passphrase('Page')"/>
                        <label for="showpassphrasePage">show passphrase</label>
                    </li>
                    <li><input type="button" value="Continue" onclick="authenticate()"/></li>
                </ul>
            </div>

            {{if eq .Page "ssids"}}
            <div class="row no-border" id="grid">
               <h2>Select Wi-Fi to connect to:</h2>
               <fieldset>
                <br/>
                <table>
                {{range $i, $ssid := .Ssids}}
                <tr>
                    <th scope="row">
                        <label class="collapse" for="radio{{$i}}">{{$ssid}}</label>
                        <input id="radio{{$i}}" type="radio" name="c1">
                        <div class="six-col">
                        <fieldset>
                        <ul class="no-bullets">
                            <li>
                                <input type="hidden" id="ssid{{$i}}" value="{{$ssid}}"/>
                                <label for="passphrase">Enter passphrase:</label>
                                <input type="password" id="passphrase{{$i}}"/>
                            </li>
                            <li>
                                <input type="checkbox" id="showpassphrase{{$i}}" onchange="show_passphrase({{$i}})"/>
                                <label for="showpassphrase">show passphrase</label>
                            </li>
                            <li>
                                 <div id="alert{{$i}}" class="cheshire box" style="background-color: #eee">
                                    <h3>Caution!</h3>
                                    <p>Continuing will disconnect you from the device by taking down its Wi-Fi network. 
                                        This page will be unavailable. After continuing, you may connect to the device 
                                        through its new Wi-Fi connection. Proceed?.</p>    
                                </div>
                            </li>
                            <li>
                                <input type="button" value="Cancel" class="button--primary" onclick="clear_row({{$i}})"/>
                                <input type="button" id="connect{{$i}}" value="Connect" class="button--primary" onclick="do_connect({{$i}})"/>
                            </li>
                        </ul>
                        </fieldset>
                        </div>
                    </th>
                </tr>
                {{end}}
                </table>

                <div class="box" style="background-color: #eee">
                    <h3>Warning</h3>
                    <p>This takes down the device AP and disconnects you. Please reconnect in a minute or two</p>
                    <input type="button" value="Refresh Wi-Fi Access Points" class="button--primary" onclick="do_refresh()"/>
                </div>

                </fieldset>
            </div>
        
            {{else if eq .Page "config"}}
            <div class="row no-border" id="grid">
                <h2>First configuration</h2>
                <h5>You need to set these config values before continuing:</h5>
                
                <fieldset>
                    <h4>Access Point</h4>
                    
                    <label for="ssid">SSID:</label>
                    <input type="text" id="ssid" required="required" value="{{.Config.Wifi.Ssid}}" placeholder="Enter SSID"/>
                    <div class="p-form-validation" id="passphrase_form">
                        <label for="passphrase">Passphrase:</label>
                        <input class="p-form-validation__input" type="password" id="passphrase" required="required" onblur="validate_password(this.id)" value="{{.Config.Wifi.Passphrase}}" placeholder="Enter passphrase"/>
                        <label for="passphrase_confirm">Confirm passphrase:</label>
                        <input class="p-form-validation__input" type="password" id="passphrase_confirm" required="required" onblur="validate_password('passphrase')" placeholder="Confirm passphrase"/>
                    </div>
                    <div class="p-notification--negative cheshire" id="passphrase_error">
                        <p class="p-notification__response">
                            <span class="p-notification__status">Error:</span> Passphrases don't match
                        </p>
                    </div>
                    <label for="interface">Interface:</label>
                    <input type="text" id="interface" required="required" value="{{.Config.Wifi.Interface}}" placeholder="Enter network interface"/>
                    <label for="country_code">Country Code:</label>
                    <input type="text" id="country_code" value="{{.Config.Wifi.CountryCode}}" placeholder="Enter Wi-Fi country code"/>
                    <label for="channel">Channel:</label>
                    <select id="channel" onload="this.value='{{.Config.Wifi.Channel}}'">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                    </select>
                    <label for="operation_mode">Operation mode:</label>
                    <input type="text" id="operation_mode" value="{{.Config.Wifi.OperationMode}}" placeholder="Enter operation mode"/>
                </fieldset>

                <br/>
                
                <fieldset>
                    <h4>Portal</h4>
                    <div class="p-form-validation" id="portal_pwd_form">
                        <label for="portal_pwd">Portal password:</label>
                        <input class="p-form-validation__input" type="password" id="portal_pwd" required="required" value="{{.Config.Portal.Password}}" onblur="validate_password(this.id)"/>
                        <label for="portal_pwd_confirm">Confirm portal password:</label>
                        <input class="p-form-validation__input" type="password" id="portal_pwd_confirm" required="required" onblur="validate_password('portal_pwd')"/>
                    </div>
                    <div class="p-notification--negative cheshire" id="portal_pwd_error">
                        <p class="p-notification__response">
                            <span class="p-notification__status">Error:</span> Passwords don't match
                        </p>
                    </div>
                    <label for="show_operational">Show operational portal:</label>
                    <input type="checkbox" checked="{{.Config.Portal.NoOperational}}" id="show_operational">
                </fieldset>

                <br/>

                <div class="p-notification--caution">
                    <p class="p-notification__response">
                        <span class="p-notification__status">Warning:</span>This takes down the device AP and disconnects you. Please reconnect in a minute or two
                    </p>
                    <br/>
                    <button class="p-button--positive" onclick="do_submit()">Apply configuration</button>
                </div>
            </div>
            {{end}}
            
            <div class="row no-border" id="refreshingAlert">
                <h3>Refreshing Wi-Fi access points...</h3>
                <div class="twelve-col box" style="background-color: #eee">
                    <p>You have been disconnected. The device is refreshing Wi-Fi access points. Please rejoin the device access point and reload this page in a minute or two.</p>
                </div>
            </div>

        </div>
    </div>

    <form id="wifi-form" action="connect" method="POST">
        <!-- hidden fields to be sent to service-->
        <input type="hidden" name="ssid"/>
        <input type="hidden" name="pwd"/>
    </form>

<script>
    $(document).ready(function() {
        $('#grid').css('display', 'none')
        $('#refreshingAlert').css('display', 'none')
	})
	function showSsids() {
	    $('#login').css('display', 'none'); 
	    $('#grid').css('display', 'block');
	}
    function showRefreshingAlert() {
	    $('#grid').css('display', 'none');
        $('#refreshingAlert').css('display', 'block');
    }
	function authenticate() {
        var pw = $('#passphrasePage').val();
	    if ( pw.length < 8) {
		    alert("Password must be at least 8 characters long");
	    } else {
	        $.ajax({
	          type: "POST",
	          url: "/hashit",
	          data: {Hash: pw}
	        }).done(function (hashRet) {
                console.log("in ajax done.", hashRet);
                hash = JSON.parse(hashRet);
                console.log(hash)
                if (hash.HashMatch) {
                    showSsids();
                } else {
                    alert("Your password does not match, please try again");
                }
	        })
        }
	}    
</script>


<script>
function clear_row(i) {
    pwdElement = document.getElementById('passphrase'+i)
    pwdElement.value='';
    pwdElement.type='password';
    document.getElementById('showpassphrase'+i).checked=false;
    document.getElementById('radio'+i).checked=false;
    document.getElementById('alert'+i).style.display='none';
    document.getElementById('connect'+i).value='Connect';
}

function show_passphrase(i) {
    var type = document.getElementById('showpassphrase'+i).checked ? 'text' : 'password' 
    document.getElementById('passphrase'+i).type = type
}

function do_connect(i) {
    // if connect button has "Connect" as label, show the alert previous to 
    // connecting. Connect if that alert is already visible
    var connectButton = document.getElementById('connect'+i)
    if (connectButton.value == "Connect") {
        document.getElementById('alert'+i).style.display='block';
        connectButton.value = 'Yes'
    } else {
        var ssid = document.getElementById('ssid'+i).value;
        var pwd = document.getElementById('passphrase'+i).value;
        if (ssid != '') {
            var form = document.getElementById("wifi-form");
            form.ssid.value = ssid
            form.pwd.value = pwd
            form.submit()
        } else {
            alert("No SSID provided to connect to")
        }
    }  
}

function do_refresh() {
    showRefreshingAlert()
    $.ajax({
        url: '/refresh'
    })
} 
</script>
</body>
</html>
